<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Apik Store
    </ion-title>
  </ion-toolbar>
</ion-header>

	  
<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/games.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Game Store</ion-card-subtitle>
        <ion-card-title>Original Game Store</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Menyediakan CD Game Original PS4, Nintendo, Sega. Belilah produk original "Hindari Pembajakan CD" hargai pembuat games.</p>
      </ion-card-content>
    </ion-card>
	<ion-row>
      <ion-item (click)="pop()">
    <ion-col>
      <img src="/assets/yooka.png" alt="" />
    </ion-col>
    <ion-col>
      <img src="/assets/overwatch.png" alt="" />
    </ion-col>
    <ion-col>
      <img src="/assets/assasin.png" alt="" />
    </ion-col>
	<ion-col>
      <img src="/assets/Assault.png" alt="" />
    </ion-col>
    </ion-item>
  </ion-row>
</ion-content>
